*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
h2{
    color: orange;
    text-decoration: wavy red underline;
}
p{
    color: white;
    background-color: black;
}
button{
    color: white;
    background-color: blue;
}
/* Practice rquestion 2 create the logo for apna college */
h1{
    font-family: spartan;
    color: #ffa511;
    text-align: center;
    font-size: 55px;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: normal;
    text-decoration: teal double underline;
    text-transform: uppercase;

}